DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=nestjs_user
DATABASE_PASSWORD=nestjs_password
DATABASE_NAME=my_nest_app
JWT_SECRET=HAMADA_BELGANZABEEL
JWT_TOKEN=ROZBELABAN
JWT_TOKEN_TTL=4600
JWT_AUDIENCE=http://localhost:3000
JWT_ISSUER=http://localhost:3000
JWT_REFRESH_TOKEN_TTL=86400
